<html lang="en">
<head>
  <title>Contact Me</title>
   {% load static %}
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<body class="mainbody">
   {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">Contact Me</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
<div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <p id="contact">Address : Villa Citra Bantarjati A8 No. 8, Tegal Gundil, North Bogor, Bogor, West Java. Indonesia</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="contact">Phone Number : (+62)89674234735</p>
            </div>
        </div>
</div>
{% include "footer.html"  %}
