<html lang="en">
<head>
     {% load static %}
  <title>Experiences</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">Experiences</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
<div class="container-fluid style="overflow-y: scroll;"">
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <h5>Teaching Assistant Of Discrete Math 1 (September 2019-Now) Faculty of Computer Science Universitas Indonesia</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="paragraph">Preparing problems for tutorial, doing tutorial session once every two weeks to provide assistance in understanding the material, and grading student’s tutorials and assignments.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h5>Data Science SIG Junior Member (March 2019-Now) RISTEK Fasilkom UI</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="paragraph">Participating several data science competitions, learn about data science, and working on several data science projects.</p>
            </div>
        </div>
    </div>
{% include "footer.html"  %}