<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<div class="container">
  <div class="row align-items-end">
    <br><br><br><br><br>
    <div class="col">
      <a href="mailto:krisnaihsani@gmail.com" class="nav-link">
              <img src="{% static 'picts/gmail-logo.png'%}" id="gmail">
        </a>
    </div>
    <div class="col">
      <a href="https://www.github.com/codefire53" class="nav-link">
            <img src="{% static 'picts/github-sign.png'%}" id="github">
       </a>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/mahardika-krisna-ihsani-8724a0166/" class="nav-link">
            <img src="{% static 'picts/linkedin-logo.png'%}" id="linkedin">
      </a>
    </div>
    <div class="col">
      <p id="copyright">Mahardika Krisna Ihsani © 2019</p>
    </div>
  </div>
</div>