<html lang="en">
<head>
  <title>Hello</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "styling.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
  <link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Text+Me+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "jumbotron">
        <div class = "container text-center">
            <h1 id="landingGreeting">Hello World!</h1>
            <p id="landingIntroduction">I'm Mahardika Krisna Ihsani and welcome to my personal website</p>
            <div class="row">
                <div class="col-md-6">
                    <p id="fontButton">
                        <a class = "btn btn-primary btn-md" href="{% url "about"%}" role = "button">Let's Have A Look!</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p id="fontButton">
                        <a class = "btn btn-primary btn-md" href="https://files.catbox.moe/rk0xs4.pdf" role = "button">See My Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<nav class="navbar  navbar-dark bg-secondary text-center fixed-bottom">
  <div class="container-fluid text-center">
      <ul class="nav navbar-nav ml-auto mx-auto">
        <li class="nav-item">
            <p id="copyright">Mahardika Krisna Ihsani © 2019</p>
        </li>
      </ul>
   </div>
<nav>
