<html lang="en">
<head>
   {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src='{%static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}'></script>
</head>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'education'%}">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'skills'%}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'projects'%}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'experiences'%}">Experiences</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{%url 'contact'%}">Contact</a>
            </li>
            </ul>
        </div>  
</nav>