.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: white;
    color: black;
}
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-size: 100%;
}

.mainbody{
    background-color: grey;
}

.navbar-custom {
    background-color: grey;
}

#paragraph{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size:100%;
    top:100%;

  }

#contact{
  font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size:150%;
    top:100%;
    margin-left:20%;
    padding-top:5%;

}
#profpic{
    width: 400px;
    height: 400px;
  }

h3{
    top:80%;
}
#copyright{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

#linkedin{
    width: 33px;
    height: auto;
    border-radius: 33px;
  }
  
  #gmail{
    width: 33px;
    height: auto;
  }

  #github{
    width: 33px;
    height: auto;
  }

  #heading{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }
  .circle {
    height: 125px;
    width: 125px;
    background-color: #000000;
    border-radius: 70%;
  }

  #year{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    margin-left:20%;
    padding-top:40%;
  }

  #school{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size:9px;
    padding-bottom:px;
    margin-left:12%;
  }

  h5{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }

  h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }

  h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }

  h6{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
  }

  #skill{
    margin-top:5px;
    margin-left:22px;;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: gray;
  }

  #copyright{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size:10px;
    margin-top:20px;
}

#landingGreeting{
    position: absolute;
    max-width: 542px;
     max-height:300px;
    height: auto;
    width:auto;
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;

}

#landingIntroduction{
    width: auto;
    max-width:300px;
    max-height:150px;
    height: auto
    font-family: 'Text Me One';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: #FFFFFF;
    margin-left:35%;
    margin-top:5%;
    text-align:left;
}

.btn-primary{
    width: 350px;
    height: 117px;
    mix-blend-mode: luminosity;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
    padding-right: 50px;
}
